html {
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
*,*::after, *::before {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins',Arial,sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.3;
    background-color: #FFFFFF;
    &.noscroll {
        overflow: hidden;
    }
}
// flexbox 
.flex {
    display: flex;
    &-jc-c {
        justify-content: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
    &-ai-c {
        align-items: center;
    }
}
// spacing 
.container {
    max-width: 78rem;
    margin: 0 auto;
    &--pl {
        padding-left: 1.5rem;
    }
    &--pr {
        padding-right: 1.5rem;
    }
    &--px {
        //changed
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        @include breakpoint-down(small) {
            padding-left: 0.5rem;
            padding-right: 0.5rem
        }

    }
    &--pt {
        padding-top:  5rem;
    }
    &--pb {
        padding-bottom:  5rem;
    }
    &--py {
        padding-top: 5rem;
        padding-bottom:  5rem;
    }
    &--pall {
        padding-top:  5rem;
        padding-right: 1.5rem;
        padding-bottom:  5rem;
        padding-left: 1.5rem;
    }
}
// links
a, a:visited, a:hover {
    text-decoration: none;
    color: black;
}

// visibility
.hide-for-mobile {
    @include breakpoint-down(small) {
        display: none;
    }
}
.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}