.header {
    // background-color: #aaaaaa;
    border-bottom: 1px solid black;
    &.open {
        .header__toggle {
            >span {
                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
    nav {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        align-items: center;
        min-height: 44px;
        @include breakpoint-up(medium) {
            display: grid;
            grid-template-areas: 
            "logo clicks"
            "links links"
            ;
            row-gap: 10px;
        }
        @include breakpoint-up(large) {
            display: grid;
            grid-template-areas: 
            "logo links links clicks"
            ;
        }
    }
    &__logo {
        grid-area: logo;
        display: flex;
        img {
            width: 180px;
        }
    }
    &__clicks {
       grid-area: clicks;
       justify-self: flex-end;
       a {
        &:not(:last-child, :nth-child(2)){
            margin-right: 8px
         }
        }
    }
    .button {
        font-size: 14px;
        font-weight: 600;
        padding: 8px 14px;
    }
    .join {
        padding: 6.5px 14px;
        color: #20B486;
        border: 1.5px solid #20B486;
        &:hover {
            background-color: #20B486;
            color: #FFFFFF;
        }
    }
    .login {
        background-color: #20B486;
        color: #FFFFFF;
        &:hover {
            background-color: #157c5b;
        }
    }
    
    &__search {
        height: 35px;
        img {
            height: 100%;
        }
    }
    &__toggle {
        span {
            display: block;
            width: 30px;
            height: 5px;
            background-color: black;
            border-radius: 2px;
            transform-origin: 2px 2px;
            transition: all 150ms ease-in-out;
            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }
    &__links {
       grid-area: links;
       margin: 0;
       list-style: none;
       padding: 0;

        li {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
       @include breakpoint-up(medium) {
        justify-self: flex-start;
       }
       @include breakpoint-up(large) {
        justify-self: center;
       } 
    }
}