.offer {
    &__content {
        @include breakpoint-down(small) {
            padding-right: 0rem;
            padding-left: 0rem;
        }
    }
    &__moveUp {
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr;
    // width: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        box-shadow: rgba(19, 15, 235, 0.1) 1px 2px 20px;
        &.move {
            transform: translateY(-80px);
        }
        @include breakpoint-up(large){
            margin-left: 50px;
            margin-right: 50px;
            grid-template-columns: 1fr 339px;
        }
    }
    &__box-1 {
        padding: 35px 0px;
        color: #373f49;

        @include breakpoint-up(medium) {
            padding: 35px;
        }

        >h3 {
            font-weight: 700;
            font-size: 32px;
            line-height: 42px;
            color: rgb(0, 0, 0);
            span {
                color: rgb(76, 15, 251);
                ;

            }
        }
        .listWrapper {
            margin-top: 25px;
            ul {
                margin: 0px;
                padding-inline-start: 25px;
                list-style-type: disc;

                li {
                    font-weight: 300;
                    font-size: 20px;
                    line-height: 30px;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                    &::marker {
                        color: rgb(76, 15, 251);
                    }
                   
                }
            }
        }
    }
    &__box-2 {     
        background: rgb(76, 15, 251);
        padding: 45px;
        color: white;
        border-radius: 25px;
        justify-content: flex-end;

        @include breakpoint-up(medium) {
            text-align: center;
        }
        @include breakpoint-up(large) {
            padding: 30px;
        }

        > h3 {
            font-weight: 700;
            font-size: 36px;
            line-height: 46px;
            color: rgb(155, 249, 255);
            margin-bottom: 25px;
            @include breakpoint-up(large) {
                margin-bottom: 15px;
            }
        }
        >div {
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
            color: rgb(255, 255, 255);
            @include breakpoint-up(large) {
                margin-bottom: 15px;
            }
        }
        >a {
            padding: 0px 15px;
            width: 100%;
            @include breakpoint-up(medium) {
                width: fit-content;
                margin: 0 auto;
            }

        }
    }

}