$primary: #20b486;
$secondary: #101828;

$aboutUs-span-color: #ff9b26;
$aboutUs-span-color: #ff9b26;
$textColor1: #1a906b;
$textColor2: #646464;
$textColor3: #667085;
$textColor4: #ffffff;
$textColor5: #22b286;
$textColor5: #22b286;
$footerTextColor: #eaecf0;
$footerLabelColor: #98a2b3;
$bgCards1: #4ac8ae;
$bgCards2: #f9fafb;
$bgCard-hero: #eafff9;
$bgColor1: #f0faf7;
$bgImage-cont: #f2f2f2;
$bgCard-hero-color: #24bb8c;

//fonts
$fontz-semiSmall: 0.875rem; //14px;
$fontz-semiMeduim: 1.125rem; //18px;
$fontz-semiBold: 2.5rem; //40px
$fontz-regular: 1rem; //16px;
$fontz-meduim: 1.25rem; //20px;
$fontz-semiLarge: 1.5rem; //24px ;
$fontz-semiBold: 2.5rem; //40px
$fontz-Large: 2.25rem; // 36px ;
$fontz-xLarge: 3rem; //48px ;
$fontz-xxlarge: 4rem; //64px ;

$fontz-semiBold:500;