$primary : #20B486;
$secondary : #101828;

$textColor1: #1A906B;
$textColor2: #646464;
$textColor3: #667085;
$textColor4: #FFFFFF;

$footerTextColor: #EAECF0;
$footerLabelColor: #98A2B3;


$bgCards1: #4AC8AE;;
$bgCards2: #F9FAFB;

$bgColor1: #F0FAF7;
