$primary: #20b486;
$secondary: #101828;

$textColor1: #1a906b;
$textColor2: #646464;
$textColor3: #667085;
$textColor4: #ffffff;
$footerTextColor: #eaecf0;
$footerLabelColor: #98a2b3;

$bgCards1: #4ac8ae;
$bgCards2: #f9fafb;
$bgCard-hero: #eafff9;
$bgCard-hero-color: #3bc49a;
$bgColor1: #f0faf7;

//fonts
$fontz-semiSmall: 0.875rem; //14px;
$fontz-regular: 1rem; //16px;
$fontz-semiMeduim: 1.125rem; //18px;
$fontz-meduim: 1.25rem; //20px;
$fontz-semiLarge: 1.5rem; //24px ;
$fontz-Large: 2.25rem; // 36px ;
$fontz-xLarge: 3rem; //48px ;
$fontz-xxlarge: 4rem; //64px ;
