.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 150ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 150ms ease-in-out backwards;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
html {
  font-size: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  height: 1000px;
  background-color: #FFFFFF;
}
body.noscroll {
  overflow: hidden;
}

.flex {
  display: flex;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-ai-c {
  align-items: center;
}

.container {
  max-width: 78rem;
  margin: 0 auto;
}
.container--pl {
  padding-left: 1.5rem;
}
.container--pr {
  padding-right: 1.5rem;
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (max-width: 39.9375em) {
  .container--px {
    padding-left: 1rem;
    padding-right: 1em;
  }
}
.container--pt {
  padding-top: 5rem;
}
.container--pb {
  padding-bottom: 5rem;
}
.container--py {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.container--pall {
  padding-top: 5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
  padding-left: 1.5rem;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

@media (max-width: 39.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 40em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  transform: rotate(-45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(45deg);
}
.header nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  min-height: 2.75rem;
  padding-top: 0.625rem;
}
@media (min-width: 40em) {
  .header nav {
    display: grid;
    grid-template-areas: "logo clicks" "links links";
  }
}
@media (min-width: 64em) {
  .header nav {
    display: grid;
    grid-template-areas: "logo links links clicks";
  }
}
.header__logo {
  grid-area: logo;
  display: flex;
}
.header__logo img {
  width: 11.25rem;
}
.header__clicks {
  grid-area: clicks;
  justify-self: flex-end;
}
.header__clicks a:not(:last-child, :nth-child(2)) {
  margin-right: 0.8rem;
}
.header .button {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.5rem 0.875rem;
  transition: all 150ms ease-in-out;
}
.header .button-xy {
  width: 4.0625rem;
  height: 2.1875rem;
}
.header .join {
  color: #1a906b;
  border: 1.5px solid #1a906b;
}
.header .join:hover {
  background-color: #20b486;
  color: #ffffff;
}
.header .login {
  background-color: #20b486;
  color: #ffffff;
}
.header .login:hover {
  background-color: #4ac8ae;
}
.header__searchContainer {
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 136px;
}
.header__searchContainer input {
  position: absolute;
  margin: auto;
  top: 0;
  right: -98px;
  bottom: 0;
  left: 0px;
  width: 40px;
  height: 27px;
  outline: none;
  border: none;
  background: #20b486;
  color: white;
  text-shadow: 0 0 10px #20b486;
  padding: 0 35px 0 10px;
  border-radius: 30px;
  box-shadow: 0 0 0 0 #20b486, 0 0px 20px 0 rgba(0, 0, 0, 0.4);
  transition: all 300ms ease-in-out;
  opacity: 0;
  z-index: 5;
  font-weight: bold;
}
.header__searchContainer input:hover {
  cursor: pointer;
}
.header__searchContainer input:focus {
  opacity: 1;
  transform: translateX(-47px);
  width: 136px;
  cursor: text;
}
.header__searchContainer input:focus ~ .search {
  background: #101828;
  z-index: 6;
}
.header__searchContainer input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 14px;
}
.header__searchContainer input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 14px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.header__searchContainer input::placeholder {
  color: white;
  opacity: 0.8;
  font-weight: bold;
}
.header__searchContainer .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: -108px;
  bottom: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: #20b486;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  z-index: 4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.header__searchContainer .search:hover {
  cursor: pointer;
}
.header__searchContainer .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 11px;
  right: 0;
  bottom: 0;
  left: 11px;
  width: 5px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 300ms ease-in-out;
}
.header__searchContainer .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -2px;
  right: 0;
  bottom: 0;
  left: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 300ms ease-in-out;
}
.header__toggle span {
  display: block;
  width: 1.875rem;
  height: 0.3125rem;
  background-color: #101828;
  border-radius: 0.125rem;
  transform-origin: 1.71875rem;
  transition: all 150ms ease-in-out;
}
.header__toggle span:not(:last-child) {
  margin-bottom: 0.25rem;
}
.header__links {
  grid-area: links;
  margin: 0;
  list-style: none;
  padding: 0;
}
.header__links li {
  position: relative;
  transition: all 150ms ease-in-out;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
}
.header__links li:not(:last-child) {
  margin-right: 2.1875rem;
}
.header__links li:not(:first-child)::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #1a906b;
  height: 0.25rem;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
  opacity: 0;
  transition: all 231ms ease-in-out;
}
.header__links li a {
  color: #101828;
  font-weight: 500;
}
.header__links li:hover > a {
  color: #1a906b;
}
.header__links li:hover::before {
  opacity: 1;
}
.header__links li:hover:first-child svg {
  transform: rotate(0.5turn);
}
.header__links li:hover:first-child .dropdown {
  display: flex;
}
.header__links .special {
  position: relative;
}
.header__links .special .dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 1;
  margin-top: 1.0625rem;
  width: 13.125rem;
  background: rgb(255, 255, 255);
  box-shadow: rgba(19, 15, 235, 0.1) 2px 4px 40px;
  text-align: left;
}
.header__links .special .dropdown a {
  display: block;
  width: 100%;
  padding: 1rem 1.5625rem;
  font-weight: 500;
  color: #101828;
  border-left: 0.3125rem solid rgb(255, 255, 255);
}
.header__links .special .dropdown a:not(:last-child) {
  border-bottom: 0.5px solid rgb(217, 217, 217);
}
.header__links .special .dropdown a:hover {
  border-left: 0.3125rem solid #1a906b;
}
@media (min-width: 40em) {
  .header__links {
    justify-self: flex-start;
  }
}
@media (min-width: 64em) {
  .header__links {
    justify-self: center;
  }
}
.header__menu {
  position: absolute;
  top: 3.4375rem;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 1.2px;
}
.header__menu > a {
  font-size: 1.125rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  font-weight: 600;
  color: #101828;
}
.header__menu > a:not(:nth-child(5)) {
  border-bottom: 1px solid #ddd;
}
.header__menu div {
  margin: 0.625rem 1.875rem;
  text-align: center;
}
.header__menu div a.mo-btn {
  display: block;
}
.header__menu div a.mo-btn:not(:last-child) {
  margin-bottom: 0.625rem;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

.main {
  margin-top: 2.5rem;
  min-height: 2.75rem;
  margin: 4.375rem 9.375rem;
  padding: 0.625rem;
}

.main > .hero-section {
  min-height: 0.625rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 20px 0px;
}

.hero-section > .bg-img > img {
  position: absolute;
  width: 350px;
  left: 50px;
  top: 110px;
}

.hero-section > .h-text {
  font-size: 3rem;
  grid-column: 1/2;
  grid-row: 1/2;
  font-weight: 600;
  text-transform: capitalize;
}
.hero-section > .h-text span {
  color: #20b486;
}

.hero-section > .p-text {
  font-size: 0.875rem;
  color: #646464;
  grid-column: 1/2;
  grid-row: 2/3;
  padding-right: 11.875rem;
}

.hero-section > .button {
  grid-column: 1/2;
  grid-row: 3/4;
}

.button {
  display: flex;
  align-items: center;
}

.button > a {
  padding: 0.938rem 1.313rem;
  border: none;
  background-color: #20b486;
  color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.5s;
}

.button > a:hover {
  background-color: #eafff9;
  color: #20b486;
  cursor: pointer;
  transform: scale(1.1);
}

.button .button-2 {
  background-color: #eafff9;
  color: #3bc49a;
  margin-left: 20px;
}

.hero-section > .icon {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  gap: 0px 20px;
  color: #646464;
  font-size: 1rem;
}
.hero-section > .icon .icon-one,
.hero-section > .icon .icon-two,
.hero-section > .icon .icon-three {
  display: flex;
  align-items: center;
}
.hero-section > .icon .icon-one span > img,
.hero-section > .icon .icon-two span > img,
.hero-section > .icon .icon-three span > img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.hero-footer {
  grid-column: 1/3;
  grid-row: 5/6;
  display: flex;
  align-items: center;
  gap: 0px 50px;
}
.hero-footer img {
  margin-right: 40px;
}
.hero-footer .first > span {
  color: #20b486;
  font-weight: 600;
  font-size: 1.125rem;
}
.hero-footer .last {
  width: 130px;
  display: flex;
  align-items: center;
}
.hero-footer .last img {
  width: 140px;
}

.hero-img {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.hero-img .bg-hero-img {
  background-color: #20b486;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid black;
}
.hero-img .bg-hero-img img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.hero-img-icon {
  grid-column: 2/3;
  grid-row: 3/5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-img-icon .icon {
  z-index: 5;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  background-color: #eafff9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 140px;
  border-radius: 10px;
}
.hero-img-icon .icon > img {
  width: 100px;
  height: 180px;
  position: relative;
  z-index: 4;
}
.hero-img-icon .icon .circle {
  width: 50px;
  height: 60px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.hero-img-icon .icon > p {
  font-weight: 600;
  font-size: 1.125rem;
  color: #101828;
  margin-top: -30px;
  margin-bottom: 8px;
  position: relative;
  z-index: 4;
}
.hero-img-icon .icon .p1 {
  color: #101828;
  margin-top: 10px;
  font-size: 0.875rem;
}

.hero-img-icon .icon::before {
  content: " ";
  position: absolute;
  background-color: #20b486;
  width: 40%;
  height: 140%;
  top: -20px;
  animation: 4s rotate linear infinite;
}

.hero-img-icon .icon::after {
  content: " ";
  position: absolute;
  inset: 2px;
  background-color: #eafff9;
  border-radius: 10px;
  z-index: 1;
}/*# sourceMappingURL=style.css.map */